<div class="card mt-4">
    <div class="container">
        <h1 class="display-4">About us</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa obcaecati eum dolore odio accusamus nostrum, porro nesciunt impedit beatae modi sequi libero mollitia totam dignissimos odit? Necessitatibus veniam deserunt aut maxime. Error sequi eum omnis ex culpa ut at tempora.F</p>
    </div>
</div>