<div class="card mt-4">
    <div class="card-header">
        <h3 class="display-6 text-center">Edit Note</h3>
    </div>
    <div class="card-body">
        <form action="/notes/edit-note/{{note.id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title" value="{{note.title}}"
                    autofocus>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description">{{note.description}}</textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-lg" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>